<div class="row">
  <div class="col-12">
    <img src="" class="img-fluid" alt="">
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h4>Job Name</h4>
  </div>
</div>

<div class="row">
  <div class="col-12">

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Manage Job
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Add Jobs to Checkout</a>
        <a class="dropdown-item" href="#">Edit Job</a>
        <a class="dropdown-item" href="#">Delete Job</a>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-12">
    Description
  </div>
</div>

<div class="row">
  <div class="col-12">Items Inclusive with Job</div>
</div>
