<div class="row">
  <div class="col-12">
    <img [src]="job.imagePath"  class="img-fluid" alt="{{ job.name }}">
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h4>{{ job.name }}</h4>
  </div>
</div>

<div class="row">
  <div class="col-12">

    <div class="dropdown">
      <button appDropdown class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Manage Job
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="addToCheckoutList()">Add Jobs to Checkout</a>
        <a class="dropdown-item">Edit Job</a>
        <a class="dropdown-item">Delete Job</a>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-12">
    {{ job.description }}
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let sharedJob of job.jobs"> {{ sharedJob.name }} ${{ sharedJob.amount }} </li>
      <!-- {{ sharedJob.name }}} ${{ sharedJob.amount }} -->
    </ul>
  </div>
</div>
